    <!-- https://www.youtube.com/watch?v=VxRXlUrV6y0 -->
<!-- minuto 45 -->
    
    <%- include("partials/head"); %>
    
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>    
                  <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                      <tr>
                        <td><%= (i + 1) %></td>
                        <td><%= data[i].name %></td>
                        <td><%= data[i].address %></td>
                        <td><%= data[i].phone %></td>
                        <td> 
                          <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                          <a href="/update/<%= data[i].id %>" class="btn btn-info">Update</a>
                        </td>
                      </tr>

                    <% } %>
                  <% } %>          
                
                </tbody>
              </table>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header card-header-primary bg-primary">
                        <h2 class="md-auto text-center">Registrarse</h2>
                    </div>
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" placeholder="Nombre Completo" autofocus>
                            </div>
                            <div class="form-group">
                              <input type="text" name="address" class="form-control" placeholder="Dirección">
                            </div>
                            
                            <div class="form-group">
                              <input type="text" name="phone" class="form-control" placeholder="Telefono">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    
    


    <%- include("partials/footer"); %>
